HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# =========================
# Java / Spring Boot
# =========================
*.log

# =========================
# Config (YAML)
# =========================
application.yml
application-*.yml
application.yaml
application-*.yaml

# =========================
# IDE
# =========================
.idea/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Lombok
# =========================
*.class

# =========================
# Env files
# =========================
.env